@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

* {
  font-family: 'Source Sans Pro', sans-serif;
}

:root {
  --greyBackground: #E3DED1;
  --greyShadow:#808080;
  --white: #FFFFFF;
  --paperBackground: #F8FCFE;
  --contactBackground: #17406D;
  --contactDetailsBackground: #0F6FC6;
  --hyperlinkContact:#DBEFF9;
}

body {
	background-color:var(--greyBackground);
}

h3 {
    margin-bottom: 0px;
}

#mainPage {
	background-color: var(--contactDetailsBackground);
	min-width:300px;
	overflow:auto;
	margin:20px;
	box-shadow:20px 20px 50px 15px var(--greyShadow);
	height:auto;
	width:calc(100% - 40px);
	position: relative;
}

#mainPage:after {
  content: "";
  display: table;
  clear: both;
}

#mainPage > * {
	overflow:auto;
	display:inline-block;
	vertical-align:top;
}

#paper {
    width: calc(100% - 300px);
    background-color: var(--paperBackground);
    float: right;
    /*min-height: 100%;*/
    padding: 20px;
    box-sizing: border-box;
    position: relative;
}


#rightSide {
	float:right;
	width:300px;
	background-color:var(--contactDetailsBackground);
	/*min-height:100%;*/
}

@media only screen and (max-width: 700px) {
	#mainPage > * {
		min-width:100%;
		min-height:auto;
	}
	#rightSide > #scrollContainer > .scrollBlock{
		display:none;
	}
	#rightSide > #scrollContainer > .scrollBlock:nth-of-type(1){
		display:block;
		max-width:fit-content;
	}
}

#profileContainer {
	text-align:center;
	background-color:var(--contactBackground);
	padding:30px;
}

#profileContainer > * {
	margin: 0 auto;
	color:var(--white);
	
}

#profilePic {
	width: 100px;
	height: 100px;
	background: url(../img/profilePic.png);
	background-position: 50% 50%;
	background-size: cover;
	border-radius: 50%;
}

#profileName {
	font-size:25px;
	font-weight:400;
	padding-top:20px;
}

#profileTitle {
	font-size:20px;
	font-weight:100;
}

#ContactDetails {
    margin-left: -20px;
	overflow: auto;
}

#ContactDetails > li{
    list-style: none;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20px;
    padding: 5px 0px 10px 30px;
}



#ContactDetails > li > a {
	color:var(--hyperlinkContact);
}

#ContactDetails > li.phone {
    background-image: url(../img/baseline_call_white_24dp.png);
}

#ContactDetails > li.email {
    background-image: url(../img/baseline_mail_outline_white_24dp.png);
}
#ContactDetails > li.website {
    background-image: url(../img/baseline_language_white_24dp.png);
}
#ContactDetails > li.linkedIn {
    background-image: url(../img/linkedIn.png);
}
#ContactDetails > li.gitHub {
    background-image: url(../img/gitHub.png);
}

.blurb {
	padding-left: 0;
}

.blurb > li {
	list-style: none;
	padding-bottom: 10px;
}

.orgHeader {
    vertical-align: top;
    display: block;
    margin-bottom: 32px;
}

.certificationBlock > .instituteHeader > .logo,
.orgBlock > .orgHeader > .logo {
    width: 50px;
    height: 50px;
    background: url(../img/profilePic.png) no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    background-color: white;
    display: inline-block;
    vertical-align: top;
    box-shadow: 2px 2px 5px 1px var(--greyShadow);
    border-radius: 5px;
}

.orgBlock > .orgHeader > .orgDuration {
    width: calc(100% - 70px);
    margin-left: 20px;
    height: 50px;
    display: inline-block;
    vertical-align: top;
}

.orgBlock {
    padding-bottom: 20px;
}

#charts,
.chartContainer,
.dotPoints > li,
.blurb > li {
    display: none;
}

#mainPage.detail-level-chart > #paper > #charts
{
	display:block;
}
#mainPage.detail-level-chart > #paper > .chartContainer {
	display:inline-block;
}


#mainPage.detail-level-chart >#rightSide > #scrollContainer,
#mainPage.detail-level-chart > #paper  > #overview-title,
#mainPage.detail-level-0 > #paper  > #overview-title,
#mainPage.detail-level-chart > #paper  > .wrapper,
#mainPage.detail-level-0 > #paper  > .wrapper > .orgBlock > * > h4 {
	display:none;
}


#mainPage.detail-level-1 > #paper  > .blurb > li:nth-of-type(1),
#mainPage.detail-level-1 > #paper  > .wrapper > .certificationBlock > * > .blurb > li:nth-of-type(1),
#mainPage.detail-level-1 > #paper  > .wrapper > .orgBlock > * > .blurb > li:nth-of-type(1),
#mainPage.detail-level-1 > #paper  > .wrapper > .orgBlock > * > .dotPoints > li:nth-of-type(1)
{
    display: list-item;
}

#mainPage.detail-level-2 > #paper  > .blurb > li:nth-of-type(1),
#mainPage.detail-level-2 > #paper  > .blurb > li:nth-of-type(2),
#mainPage.detail-level-2 > #paper  > .wrapper > .orgBlock > * > .blurb > li:nth-of-type(1),
#mainPage.detail-level-2 > #paper  > .wrapper > .orgBlock > * > .dotPoints > li:nth-of-type(1),
#mainPage.detail-level-2 > #paper  > .wrapper > .certificationBlock > * > .blurb > li:nth-of-type(1),
#mainPage.detail-level-2 > #paper  > .wrapper > .orgBlock > * > .blurb > li:nth-of-type(2),
#mainPage.detail-level-2 > #paper  > .wrapper > .orgBlock > * > .dotPoints > li:nth-of-type(2),
#mainPage.detail-level-2 > #paper  > .wrapper > .certificationBlock > * > .blurb > li:nth-of-type(2)
{
    display: list-item;
}


#mainPage.detail-level-3 > #paper  > .blurb > li,
#mainPage.detail-level-3 > #paper  > .wrapper > .orgBlock > * > .blurb > li,
#mainPage.detail-level-3 > #paper  > .wrapper > .orgBlock > * > .dotPoints > li,
#mainPage.detail-level-3 > #paper  > .wrapper > .certificationBlock > * > .blurb > li
{
    display: list-item;
}

.positionBlock {
    margin-left: 20px;
    padding-left: 50px;
    margin-top: -20px;
    padding-bottom: 10px;
    position: relative;
	border-left: 2px solid var(--greyBackground);
}

.positionBlock::after {
    content: "";
    position: absolute;
    display: block;
    height: 10px;
    width: 10px;
    left: -15.5px;
    top: 0px;
    border: 10px solid var(--paperBackground);
    border-radius: 50%;
    background-color: var(--greyShadow);
}

.positionDuration {
    color: var(--greyShadow);
}

a.instituteHeader,
a.orgHeader {
    text-decoration: none;
    color: black;
}


h2.instituteTitle {
    display: inline-block;
    line-height: 50px;
    vertical-align: top;
    padding-left: 20px;
    margin: 0px;
    max-width: calc(100% - 70px);
}

.certificationDetailsBlock {
    margin-left: 20px;
    padding-left: 50px;
    margin-top: -20px;
    padding-bottom: 10px;
    position: relative;
}

.single.orgBlock > .orgHeader > .orgDuration {
    display: none;
}

.single.orgBlock > .positionBlock {
    margin-top: -85px;
    border-left: 2px solid transparent;
}

.single.orgBlock > .positionBlock::after {
    border: 10px solid transparent;
    background-color: transparent;
}

.scrollBlock > .quote {
    font-style: italic;
    text-align: left;
}

.scrollBlock > .author {
    text-align: right;
}

.scrollBlock > .author > .name {
    font-weight: bold;
}

.scrollBlock {
    color: var(--white);
    padding: 20px;
    max-height: fit-content;
    overflow: auto;
    max-width: 260px;
    display: inline-block;
    vertical-align: top;
    min-width: 260px;
}

#Settings {
    display: block;
    text-align: right;
    position: absolute;
    top: 20px;
    right: 20px;
}

#Settings > label {
    width: 100px;
    padding: 0px;
}

[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

[type=radio] + img {
	cursor: pointer;
	display: inline-block;
	height: 20px;
	cursor: pointer;
	border: 1px solid black;
	border-radius: 5px;
	width: 20px;
	padding: 5px;
}

[type=radio] + img:hover {
	box-shadow: 2px 2px 5px 1px var(--greyShadow);
}

[type=radio]:checked + img {
  background-color: lightgrey;
  box-shadow: 2px 2px 5px 1px var(--greyShadow);
}


.chartContainer {
    min-width: 50%;
    max-width: 400px;
	width:100%;
	float:left;
	height:200px;
	overflow:auto;
}
.canvas {
	width:100% !important;
	height:100% !important;
}

h1 {
    margin-top: 40px;
}
